.well {
    padding: 5px;
    margin-bottom: 0;
}
.siderbar{
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-color: #E7E7E7;
    background-color: #F8F8F8;
}

.sidebar-brand{
    color: #777;
    font-size: 18px;
    line-height: 20px;
    float: left;
    padding: 15px;

}

.sidebar-fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}

.page-content {
    left: 25.5%;
}

.panel + form {
    margin-top: 5px;
}
.CodeMirror {
    font-size: 12px
}

.request .CodeMirror {
    height: 30em;
}
.response .CodeMirror {
    height: 30em;
}

.requesttree .jstree-anchor {
    border: 1px solid;
    border-radius: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    min-width: 8em;
    text-align: center;
}
.requesttree .jstree-clicked {
    font-weight: bold;
}
