@charset "UTF-8";

body {
	background-image: url("../Resources/testbg.png"); 
}

#operation-select{
	float: left;
	margin-left: 2%;
}

#objectContainer{
	border-width: 5px;
	border-style: groove;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
	display: inline-block;
}

#objectList {
	list-style-type: none;
}

#objectList ul {
	list-style-type: none;
}

#objectList label {
    display: inline-block;
	padding-left: 33%;
	float: left;
}
#objectList input {
	float: left;
    width: 14px;
    height: 14px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    *overflow: hidden;
}

#objectList .lower {
	margin-left: 25px;
}

#requestBox {
	border: 1px solid black;
	margin-top: 15px;
	margin-bottom: 15px;
}

pre.xml {
	text-align: left;
}
