@charset "UTF-8";

body {
	background-image: url("../Resources/testbg.png"); 
}

#form {
	width: 80%;
	margin-left: 10%;
	padding-bottom: 1%;
	background-color: #F0F0F0;
	float: left;
}

#form h1{
	text-align: center;
	padding-top: 2%;
}

.box {
	width: 60%;
	background-color: white;
	margin-left: 20%;
	padding: 1%;
}

legend {
	font-size: 22px;
	color: red;
}

#operation-select{
	float: left;
	margin-left: 2%;
}

#objectList {
	border-width: 5px;
	border-style: groove;
	border-color: red green yellow blue;
	margin-top: 15px;
}

#requestBox {
	border: 1px solid black;
	margin-top: 15px;
	margin-bottom: 15px;
}
