@charset "UTF-8";

body {
	background-image: url("../Resources/testbg.png"); 
}

#form {
	width: 90%;
	margin-left: 5%;
	padding-bottom: 1%;
	background-color: #F0F0F0;
}

#form h1{
	text-align: center;
	padding-top: 2%;
}

#selectionBox {
	width: 40%;
	background-color: white;
	margin: 1%;
}

fieldset {
	position: relative;
	border-width: 5px;
	border-style: groove;
	border-color: red green yellow blue;
}

legend {
	font-size: 22px;
	color: red;
}

.left {
	width: 30%;
	float: left;
	text-align: right;
}

.right{
	width: 65%;
	margin-left: 1%;
	float: left;
}