#operation-select {
	float: left;
	margin-left: 2%;
}

#autodiv {
	display: table;
	margin: 0 auto;
}

#autorequest {
	margin-bottom: 3%;
}

.row .col {
	display: inline-block;
	vertical-align: text-top;
}

#optionCol {
	width: 25%;
}

#requestCol {
	width: 70%;
	margin-left: 4%;
}
#edit .loading {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 5em;
	height: 5em;
	display: none;
	z-index: 10;
}

#editRequest {
	max-width: 90%;
	height: auto;
	text-align: left;
	outline: black solid 2px;
}

.icon {
	display: inline-block;
	width: 5em;
	height: 5em;
	margin: 0 1em;
}

.icon:hover {
	cursor: pointer;
}