<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
<!-- Filter for limiting messages to INFO level-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARNING</level>
        </filter>

        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


<!-- Possible to edit levels of different loggers INFO level is currently set using filter
    <logger name="akka" level="INFO" />
    <logger name="slick" level="INFO" />
    <logger name="com.zaxxer.hikari" level="INFO" />
    <logger name="HikariPool" level="INFO" />
    <logger name="com.typesafe.sslconfig" level="INFO" />
    <logger name="spray.can" level="INFO" />
    <logger name="akka.io.TcpListener" level="INFO" />

    <logger name="database" level="DEBUG" />
    <logger name="accessControl" level="INFO" />
    <logger name="responses" level="DEBUG" />
		<logger name="authorization" level="DEBUG" />
-->
    <logger name="agentSystem" level="WARNING" />
    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
