
/* prevent horizontal scrollbar */
html {
    overflow-x: hidden;
}


.CodeMirror {
    font-size: 12px
}

.request .CodeMirror,
.response .CodeMirror {
    height: 30em;
}
/* Change cursor on response CodeMirror links*/
.cm-link{
    cursor: pointer;
}

#nodetree {
    /* fix too long tree (pushes other settings down) */
    overflow: scroll;
    max-height: 40em;
    min-height: 20em;
}

.requesttree .jstree-anchor {
    border: 1px solid;
    border-radius: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    min-width: 7.5em;
    text-align: left;
}
.requesttree .jstree-clicked {
    font-weight: bold;
}


/* odfTree icons */
.odf-objects {
    color:green;
}
.odf-object {
    color: #AAAA00;
}
.odf-infoitem {
    color:red;
}
.odf-metadata {
    color:#1E90FF; /* dodgerblue */
}


/* Response history modal */

.responseTitle > .btn {
    margin-left: 2em;
}

/* FOR VERTICAL SUB HISTORY
.callbackResponseHistory .modal-body {
    overflow:scroll;
}
*/

/*
.responseListCollection {
    align-items: flex-start;
    display: flex;
}
*/

.responseList {
    /*
    flex: 0 1;
    display: flex;
    flex-flow: column nowrap;
    margin: 1em 0 1em 1em;
    */
    margin: 3rem 2rem 6rem 2rem;
    min-width: 30rem;
}


.cloneTarget {
    display: none;
}

.dataTable td {
    word-break: break-all;
}

.flash {
    -moz-animation: flash 1s ease-out;
    -moz-animation-iteration-count: 1;

    -webkit-animation: flash 1s ease-out;
    -webkit-animation-iteration-count: 1;

    -ms-animation: flash 1s ease-out;
    -ms-animation-iteration-count: 1;

}

@-webkit-keyframes flash {
    0% { background-color: none;  }
    50% { background-color: #f0ad4e;  }
    100% { background-color: none;  }

}

@-moz-keyframes flash {
    0% { background-color: none;  }
    50% { background-color: #f0ad4e;  }
    100% { background-color: none;  }

}

@-ms-keyframes flash {
    0% { background-color: none;  }
    50% { background-color: #f0ad4e;  }
    100% { background-color: none;  }

}

.callbackResponseHistory .tooltip-inner {
    word-break: break-all;
}

/* response return code row that can be clicked */
tr.respRet{
    cursor: pointer;
}
.navbar-logo {
    padding: 2px !important;
}
.navbar-brand > img {
   max-width: 95%;
   max-height: 95%;
   border-radius: 10%;
   margin-top: 2.5%;
   margin-bottom: 2.5%;
   filter: brightness(140%);
}

.opengroup-color {
    color: #0f85a3;
}

