
/* prevent horizontal scrollbar */
html {
    overflow-x: hidden;
}


.CodeMirror {
    font-size: 12px
}

.request .CodeMirror,
.response .CodeMirror {
    height: 30em;
}
/* Change cursor on response CodeMirror links*/
.cm-link{
    cursor: pointer;
}

#nodetree {
    /* fix too long tree (pushes other settings down) */
    overflow: scroll;
    max-height: 40em;
    min-height: 20em;
}

.requesttree .jstree-anchor {
    border: 1px solid;
    border-radius: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    min-width: 7.5em;
    text-align: left;
}
.requesttree .jstree-clicked {
    font-weight: bold;
}


/* odfTree icons */
.odf-objects {
    color:green;
}
.odf-object {
    color: #AAAA00;
}
.odf-infoitem {
    color:red;
}
.odf-metadata {
    color:#1E90FF; /* dodgerblue */
}

.responseTitle .btn {
    margin-left: 2em;
}

.responseList {
    flex: 0 1;
    display: flex;
    flex-flow: column nowrap;
    min-width: 30rem;
    margin: 1em 0 1em 1em;
}

.mypanel {
    background-color: #e2e4e6;
    padding: 0.5em;
    border-radius: 4px;
}

.responseListElement {
    flex: 0 1;
    padding: 0.5em 0.5em 0.1em;
    margin: 0.5em 0 0;
    background-color: white;
    border-radius: 4px;
    overflow:hidden;
}
.responseListElement > div {
    display: inline-block;
    width: 100%;
}

.responseListElement code, .responseListElement b {
    display: inline-block;
    overflow:hidden;
}

.responseListElement code {
    width: 6em;
    float: right;
}

.responseListElement > b {
}

.responseListCollection {
    align-items: flex-start;
    display: flex;
}

